
.textarea{
    width: inherit;
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
  }
  
.rsvp {
  width: inherit;
}